<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Produto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
    <nav class="nav">
        <a th:href="@{/listarProduto}">Lista de Produtos</a>
        <a th:href="@{/login}">Sair</a>
    </nav>
    <div class="form-container">
        <h1>Adicionar Produto</h1>
        <form th:action="@{/guardar-produto}" method="POST" th:object="${produtos}">
           <p>Codigo: <input type="text" th:field="*{codigo}" /></p>
        <span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></span><br><br>
        <p>Nome: <input type="text" th:field="*{nome}" /></p>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span><br><br>
        <p>Valor: <input type="text" th:field="*{valor}" /></p>
        <span th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span><br><br>
        <p>Quantidade Estoque: <input type="text" th:field="*{quantidadeEstoque}" /></p>
        <span th:if="${#fields.hasErrors('quantidadeEstoque')}" th:errors="*{quantidadeEstoque}"></span><br><br>
        <p>Data: <input type="date" th:field="*{data}" /></p>
        <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></span><br><br>
        <input type="hidden" th:field="*{id}" />
        <p><input type="submit" value="Cadastrar" /></p>
        </form>
    </div>
   
</body>
</html>



